body {
    font-family: Helvetica, Arial, sanserif;
    margin: 0 1em;
    color: #404040;
}

h1 {
    font-size: 172.8%;
    margin-left: 3.5ex;
    vertical-align: middle;
}

img.logo {
    float: left;
    margin-left: -3.5ex;
    margin-top: -0.5ex;
    width: 3ex;
}

.menu {
    display: block;
    width: 100%;
    list-style-type: none;
    margin: .5ex 0;
    padding: 0;
}

.menu:after {
    clear: both;
    display: block;
    visibility: hidden;
    height: 0;
    content: ".";
}

.menu li {
    float: left;
    display: block;
    text-align: center;
    padding: 0;
    margin: .5ex .5ex .5ex 0;
    border-radius: 5px;
    background: #000080;
}

.menu li a {
    display: inline-block;
    color: #ffffff;
    min-width: 8em;
    text-align: center;
    padding: .5ex;
    text-decoration: none;
}

.menu li#show-advanced {
    background: #008000;
}

.menu li#hide-advanced {
    background: #800000;
}

.instructions {
    font-style: italic;
}

#question, #answer {
    font-size: 144%;
    margin-left: 1.5em;
}

#question::before {
    display: inline-block;
    content: "Q:";
    font-weight: bold;
    margin-left: -1.5em;
    width: 1.5em;
}

#answer::before {
    display: inline-block;
    content: "A:";
    font-weight: bold;
    margin-left: -1.5em;
    width: 1.5em;
}

#help {
    position: relative;
    max-width: 30em;
    background: #eeeeaa;
    padding: 1ex 1em;
    border: 1px solid #aaaaee;
    border-radius: 1ex;
    margin: 1ex 0;
}

#help h2 {
    margin: 0 0 1ex 0;
    font-size: 120%;
}

#help ol {
    margin: 0;
    padding: 0;
}

#help li {
    margin-bottom: 1ex;
    margin-left: 1em;
}

