body {
    font-family: Helvetica, Arial, sanserif;
    margin: 0 1em;
}

h1 {
    font-size: 200%;
    margin-left: 3.5ex;
    vertical-align: middle;
}

img.logo {
    float: left;
    margin-left: -3.5ex;
    margin-top: -0.5ex;
    width: 3ex;
}

.menu {
    display: block;
    width: 100%;
    list-style-type: none;
    margin: .5ex 0;
    padding: 0;
}

.menu:after {
    clear: both;
    display: block;
    visibility: hidden;
    height: 0;
    content: ".";
}

.menu li {
    float: left;
    display: block;
    text-align: center;
    padding: 0;
    margin: .5ex .5ex .5ex 0;
    border-radius: 5px;
    background: blue;
}

.menu li a {
    display: inline-block;
    color: #ffffff;
    min-width: 8em;
    text-align: center;
    padding: .5ex;
    text-decoration: none;
}

.menu li#show-advanced {
    background: green;
}

.menu li#hide-advanced {
    background: red;
}

.instructions {
    font-style: italic;
    color: #333333;
}

#question, #answer {
    font-size: 144%;
    margin-left: 1.5em;
}

#question::before {
    display: inline-block;
    content: "Q:";
    font-weight: bold;
    margin-left: -1.5em;
    width: 1.5em;
}

#answer::before {
    display: inline-block;
    content: "A:";
    font-weight: bold;
    margin-left: -1.5em;
    width: 1.5em;
}

#help {
    color: #aaaaaa;
}

#help li {
    margin-bottom: 1ex;
}

