body {
    font-family: Helvetica, Arial, sanserif;
}

.instructions {
    font-style: italic;
    color: #aaaaaa;
}

#question, #answer {
    font-size: 144%;
    margin-left: 1.5em;
}

#question::before {
    display: inline-block;
    content: "Q:";
    font-weight: bold;
    margin-left: -1.5em;
    width: 1.5em;
}

#answer::before {
    display: inline-block;
    content: "A:";
    font-weight: bold;
    margin-left: -1.5em;
    width: 1.5em;
}

#e6b-photo {
    float: right;
    max-width: 33vw;
}

#e6b-photo img {
    max-width: 33vw;
}

#e6b-photo figcaption {
    font-size: 80%;
    font-style: italic;
}
